@import "./base.css";

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
.amplify-button[data-variation="link"]:hover {
  background: none;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.amplify-button[data-variation="primary"] {
  background: var(--amplify-colors-teal-80);
}

.amplify-button[data-variation="primary"]:hover {
  background-color: var(
    --amplify-components-button-primary-hover-background-color
  );
  border-color: var(--amplify-components-button-primary-hover-border-color);
  color: var(--amplify-components-button-primary-hover-color);
}
